@media (max-width: 1120px) {
  .footer__top-list-item {
    margin-right: 12px;
  }
  .footer__top-list-link {
    font-size: 14px;
  }
}

@media (max-width: 1065px) {
  .header__list-link {
    margin-left: 14px;
    font-size: 15px;
    letter-spacing: 0px;
  }

  .testimonials__bubble {
    padding-top: 85px;
  }
  .testimonials__experience {
    text-indent: 0;
  }
  .testimonials__bubble:nth-child(even) .testimonials__experience {
    text-indent: 0;
  }
  .testimonials__author {
    min-width: 75%;
    transform: translateY(-83%);
  }
}

@media (max-width: 980px) {
  .footer__top-offer {
    justify-content: space-between;
    width: 100%;
  }
  .footer__top-nav {
    margin-top: 19px;
    width: 100%;
  }
  .footer__top-list {
    justify-content: space-between;
  }
  .footer__top-list-item {
    margin-right: 0px;
  }
  .footer__bottom-list-item {
    padding: 0 10px;
    border-left: 1px solid #919191;
  }
  .footer__bottom-list-link {
    font-size: 13px;
  }

  .footer__bottom-quote {
    font-size: 12px;
  }
}

@media (max-width: 900px) {
  .header__nav {
    display: none;
  }
  .burger-menu-icon {
    display: block;
  }
}

@media (max-width: 750px) {
  .hero {
    margin-top: 110px;
  }
  .hero .container {
    justify-content: center;
    text-align: center;
  }
  .hero__offer {
    width: 100%;
  }
  .hero__title {
    font-size: 27px;
  }
  .hero__text {
    margin-top: 9px;
  }
  .hero__button {
    margin-top: 36px;
  }
  .hero__img-block {
    margin-top: 29px;
    width: 87%;
  }
}

@media (max-width: 700px) {
  .calculator__bottom-step {
    width: 70%;
  }
}


@media (max-width: 655px) {
  .double-info-blocks {
    margin: 11px 0 24px;
    text-align: center;
  }
  .big-info-block,
  .double-info-blocks div {
    width: 100%;
    padding: 80px 10px;
  }
  .features__block-text {
    margin-top: 7px;
  }
  .features__block-2 {background: url('../img/features2-mobile.jpg') center/cover no-repeat;}
  .features__block-3 {background: url('../img/features3-mobile.jpg') center/cover no-repeat;}


  .aboutus__block-1 {background: url('../img/aboutus1-mobile.jpg') center/cover no-repeat;}
  .aboutus__block-2 {background: url('../img/aboutus2-mobile.jpg') center/cover no-repeat;}
  .aboutus__block-4 {background: url('../img/aboutus4-mobile.jpg') center/cover no-repeat;}
  .aboutus__block-5 {background: url('../img/aboutus5-mobile.jpg') center/cover no-repeat;}


  .double-info-block:last-child {
    margin-top: 11px;
    text-align: center;
  }


  .testimonials__bubble {
    padding-top: 80px;
  }
  .testimonials__author {
    min-width: fit-content;
    padding: 3px;
    padding-right: 30px;
  }
  .testimonials__bubble:nth-child(even) .testimonials__author {
    padding: 3px;
    padding-left: 30px;
  }


  .footer__top-list {
    flex-direction: column;
  }
  .footer__top-list-item {
    padding: 11px 0 14px;
    border-bottom: 1px solid #919191;
  }
  .footer__top-list-link {
    font-size: 18px;
    letter-spacing: 0.9px;
  }
  .footer__top {
    border: none;
    padding-bottom: 25px;
  }

  .footer__bottom {
    padding-top: 0;
  }
  .footer__bottom-quote {
    width: 100%;
    font-size: 16px;
  }
  .footer__bottom-nav {
    width: 100%;
    margin-top: 10px;
  }
  .footer__bottom-list {
    justify-content: space-between;
  }
  .footer__bottom-list-item {
    border: none;
    padding: 0;
  }
  .footer__bottom-list-link {
    font-size: 18px;
  }
  .footer__bottom-separator-mobile {
    width: 1px;
    background: #919191;
  }
}

@media (max-width: 560px) {
  .big-info-block,
  .double-info-blocks div {
    padding: 38px 10px 120px;
  } 
}

@media (max-width: 540px) {
  .pricing__plan-price {
    font-size: 34px;
  }
  .pricing__plan-list-item  {
    font-size: 16px;
  }
}

@media (max-width: 500px) {
  .footer__bottom-list-item {
    width: 45%;
    margin-bottom: 10px;
  }
  .footer__bottom-list-link {
    font-size: 19px;
    letter-spacing: 0.6px;
  }
  .footer__bottom-separator-mobile {
    display: none;
  }
}

@media (max-width: 480px) {
  .pricing__tabs {
    width: 100%;
  }
  .pricing__tab {
    max-width: fit-content;
    padding: 17px 47px;
  }
  .pricing__plan {
    width: 100%;
  }
  .pricing__plan:last-child {
    margin-top: 30px;
  }
  .pricing__plan-price {
    margin-top: 6px;
  }
  .pricing__plan-list {
    margin-top: 30px;
  }
  .pricing__plan:last-child .pricing__plan-list {
    margin-top: 10px;
  }
  .pricing__plan-list-item {
    font-size: 18px;
  }
  .pricing__plan-details {
    margin-top: 20px;
  }
  .pricing__plan-button { 
    margin-top: 10px;
  }


  .calculator__top-step {
    width: 100%;
    margin-bottom: 47px;
  }
  .calculator__bottom {
    margin-top: 0px;
  }
  .calculator__bottom-step {
    width: 100%;
  }
  .calculator__result {
    display: block;
    margin: 30px auto 0;
    padding: 30px 50px 35px;
    max-width: fit-content;
  }
  .calculator__result-number {
    font-size: 40px;
  }


  .waitlist__submit {
    margin: 25px auto 0;
  }
}

@media (max-width: 350px) {
  .pricing__tab {
    padding: 17px 40px;
  }
}




@media (prefers-color-scheme: dark) {
  @media (max-width: 655px) {
    .features__block-2 {background: url('../img/features2-dark.png') center/cover no-repeat;}
    .features__block-3 {background: url('../img/features3-dark.png') right/cover no-repeat}

    .aboutus__block-1 {background: url('../img/aboutus1-mobile.jpg') center/cover no-repeat;}
    .aboutus__block-2 {background: url('../img/aboutus2-mobile.jpg') center/cover no-repeat;}
    .aboutus__block-4 {background: url('../img/aboutus4-mobile.jpg') center/cover no-repeat;}
    .aboutus__block-5 {background: url('../img/aboutus5-mobile.jpg') center/cover no-repeat;}
  }
}